In [ ]:
import numpy as np
import pandas as pd

코퍼스와 문서 그리고 문서에 있는 단어들을 만들어주었습니다. 전체 문서가 있는 리스트를 docs라 생각하고 docs에 있는 각 문서를 doc라 생각했습니다.

In [ ]:
copus = """i like to eat a pizza
i want to eat food from malaysia
i would like to eat some chinese food"""

docs = [sent.split() for sent in copus.splitlines()]
doc1 = docs[0]
doc2 = docs[1]
doc3 = docs[2]
terms = list(set(w for sent in copus for w in copus.split()))

# 1.1 Term frequency

count함수를 이용하여 term이 doc에 나타난 횟수를 세주었습니다. get_tf(term, doc)함수가 term frequency값을 반환하도록 해주었습니다.

In [ ]:
def  get_tf(term,doc):
  return np.log10(doc.count(term) + 1)

In [ ]:
get_tf('like', doc3)

0.3010299956639812

#1.2 Inverse document frequency

전체 문서의 개수를 N으로 놓고 term이 포함된 문서의 수를 n으로 두었습니다.
if 문을 사용하여 term이 doc에 있을 때마다 n에 1을 추가해주었습니다.

In [ ]:
def get_idf(term):
  N = len(docs)
  n = 0
  for i in range(0, N):
    if term in docs[i]:
      n += 1
  return np.log10(N/n)

In [ ]:
get_idf('want')

0.47712125471966244

In [ ]:
get_idf('food')

0.17609125905568124

#1.3 TF‑IDF matrix

각 문서마다 result 리스트를 만들어 tf값과 idf값을 곱하여 추가해주었습니다.
그후 각 result리스트를 하나로 합치고 pd.DataFrame을 활용해 정리해주었습니다.

In [ ]:
result1 = []
result2 = []
result3 = []
for i in range(len(terms)):
  result1.append(get_tf(terms[i], doc1)*get_idf(terms[i]))
  result2.append(get_tf(terms[i], doc2)*get_idf(terms[i]))
  result3.append(get_tf(terms[i], doc3)*get_idf(terms[i]))

result = [result1, result2, result3]
tf_idf = pd.DataFrame(result, columns = terms)
tf_idf

       want      food   to      from  ...         a     would  eat    i
0  0.000000  0.000000  0.0  0.000000  ...  0.143628  0.000000  0.0  0.0
1  0.143628  0.053009  0.0  0.143628  ...  0.000000  0.000000  0.0  0.0
2  0.000000  0.053009  0.0  0.000000  ...  0.000000  0.143628  0.0  0.0

[3 rows x 13 columns]